*.class

# Package Files #
#*.jar
*.war
*.ear
# logback.xml
.classpath
.metadata/
.project
.settings/
.idea/
.idea/compiler.xml
*.iml
*.iws
.DS_Store
logs/
target/
# Emacs
*~
.#*

# ingore sphinx doc
docs/build/*

# Omni Graffle #
*(Autosaved).graffle

pom.xml.versionsBackup
sync.sh

#jRebal
rebel.xml

.build
*.pyc
generated/*.inc
locale/ja/LC_MESSAGES/generated/*.po
